
{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <title> Vmail INBOX</title>
        <link rel="stylesheet" href="{% static 'data/css/bootstrap.css' %}">
        <script src="{% static 'data/js/voice.js' %}"></script>
        
     <style>
     #closes {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}
     </style>
        <!-- jQuery library -->
        <script src="{% static 'data/js/jquery.js' %}"></script>
        <!-- Latest compiled JavaScript -->
        <script src="{% static 'data/js/bootstrap.js' %}"></script>
         <!-- <script >
             
           $(document).ready(function() {
   $('a#close').hide();
  
    
    $('a#open').click(function() {

     $('a#close').toggle();
    });
});  
             
             
         </script> -->
       
    </head>
   
        <body>
            <div id="settings">
                .</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="btn-group">
                            <input type="hidden" id="data" > 
                            <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
                                Welcome {{user}}<span class="caret"></span>
                        </button>
                        <!--                <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Mail</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">Tasks</a></li>
                                        </ul>-->
                    </div>
                </div>
                <div class="col-sm-9 col-md-10">
            
                    <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
                        &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;</button>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Mark all as read</a></li>
                            <li class="divider"></li>
                            <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <!--                <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>-->

                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <a href="{%url 'login:compose'%}" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
                    <hr>
                    <ul class="nav nav-pills nav-stacked">
                        <!--                <li class="active"><a href="#"><span class="badge pull-right">32</span> Inbox </a>
                                        </li>-->
                        <li class="active"><a href="{%url 'login:inbox' %}"> Inbox </a>
                        </li>
                        <!--                <li><a href="#">Starred</a></li>
                                        <li><a href="#">Important</a></li>-->
                        <li><a href="{%url 'login:sent'%}">Sent Mail</a></li>
                        <li><a href="{%url 'login:trash'%}">trash</a></li>
                        <li><a href="{%url 'login:logut'%}">logout</a></li>

                        <!--                <li><a href="#"><span class="badge pull-right">3</span>Drafts</a></li>-->
                    </ul>
                </div>
                <div class="col-sm-9 col-md-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                                </span>Primary</a></li>
                        <!--                <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                                            Social</a></li>
                                        <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>
                                            Promotions</a></li>
                                        <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                                        </span></a></li>-->
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="list-group">
                           {% for mail in mails %}
                                <a href="#" class="list-group-item" id="open" style="background-color:#33b5e5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                        <span class="text-muted" style="font-size:20px;">
                                     {{mail.subject}}</span><br>
                                    </div>
                                     
                                </a>
                                        
                                        <div >
                                         <a href="#" class="list-group-item" id="close" >
                                    <span class="name" style="min-width: 120px;
                                                                                              display: inline-block;">FROM:
                                                                                              {{mail.from}}</span><br><br><br> <span  id="closes" class="">
                                                                                              {{mail.mailtext}}</span>
                                                                                           
                                                                                        
                                                                                                <span class="name" style="min-width: 20px;display: inline-block;">Attachment:<a href="{% url 'login:downs' mail.attachment %}" class="name"  >{{mail.attachment}}</a></span>
                                                                                     
                                    <span class="badge">{{time}}</span> 
                                    
                                    
                                    <span class="pull-right">
                                        
                                    <span  class="glyphicon glyphicon-paperclip">
                                          
                                            </span></span></a>
                                            
                                            <div>

                             {% endfor %}
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade in" id="profile">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <span class="text-center">This tab is empty.</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="messages">
                            ...</div>
                        <div class="tab-pane fade in" id="settings">
                            This tab is empty.</div>
                    </div> -->

                    <div class="row-md-12">

                        <!--                <div class="well"> 
                                          <a href="">Welcome</a>
                                        </div>-->

                    </div>
                </div>
            </div>
        </div>

    </body>
    

</html>
